* {
	box-sizing: border-box;
}

html {
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 100%;
	height: 100%;
	margin: 0;

	&.dark {
		background: #1e1e1e;
		color: rgb(178, 178, 178);
	}
}

.application {
	&.dark {
		background: #1e1e1e;
		color: rgb(178, 178, 178);
	}
}

table {
	border-collapse: collapse;
	font-size: 100%;
	width: 100%;

	th, td {
		text-align: left;
	}
}

a {
	color: rgb(105, 105, 105);
	cursor: default;

	&:hover {
		color: rgb(59, 59, 59);

		@include dark {
			color: hsl(31, 98%, 48%);
		}
	}

	@include dark {
		color: rgb(128, 128, 128);
	}
}

.button {
	align-items: center;
	background: hsl(30, 1, 94);
	border-radius: 4px;
	color: dimgrey;
	display: flex;
	justify-content: center;
	padding: 6px 12px;
	text-decoration: none;

	@include dark {
		background: hsl(30, 1, 18);
	}

	&:hover {
		color: #3b3b3b;
	}

	.ui-icon {
		margin-right: 5px;
	}
}

// Split view

.split-view {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	@media screen and (min-width: 900px) {
		flex-direction: row;
	}
}

.split-view-details {
	flex: 1;
	min-width: 0;

	@media screen and (min-width: 900px) {
		height: 100%;
	}
}

// Request details pane

.split-view-details {
	display: flex;
	flex-direction: column;
	position: relative;
}

.details-header {
	background: hsl(240, 20, 90);
	display: flex;
	flex-shrink: 0;
	height: 34px;
	position: relative;
	z-index: 500;

	@include dark {
		background: hsl(240, 17%, 10%);
	}

	.details-header-tabs {
		display: flex;
		flex: 1;
		overflow: hidden;
	}

	.icons {
		align-items: center;
		border-bottom: 1px solid hsl(240, 20, 85);
		display: flex;
		font-size: 15px;
		padding: 0 5px;

		@include dark {
			border-bottom: 1px solid hsl(240, 17%, 20%);
		}

		a {
			padding: 0 5px;

			&.active, &:hover {
				color: rgb(37, 140, 219);

				@include dark {
					color: hsl(31, 98%, 48%);
				}
			}
		}
	}
}

.details-content {
	flex: 1;
	overflow: auto;

	.content-header {
		background: hsl(240, 20, 97);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;
		height: 46px;
		width: 100%;

		@include dark { background: hsl(240, 2, 15); }
	}

	.content-content {
		margin-top: -46px;
		padding: 15px;
	}

	h3 {
		border-bottom: 1px solid #d1d1d1;
		font-size: 13px;
		font-weight: 600;
		margin: 0;
		padding: 4px 10px;
	}

	.counters-row {
		align-items: center;
		display: flex;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0 0 1px 1px hsl(240, 20, 90), 0 2px 4px 0 hsl(240, 20, 90);
		margin-bottom: 20px;

		@include dark {
			background: #252527;
			box-shadow: 0 0 1px 1px hsl(240, 5, 8), 0 2px 4px 0 hsl(240, 5, 8);
		}

		.counters-group {
			display: flex;

			&.right-aligned {
				margin-left: auto;

				.counter {
					border-left: 1px solid hsl(240, 20, 92);
					border-right: 0;

					@include dark {
						border-left: 1px solid rgb(52, 52, 54);
						border-right: 0;
					}
				}
			}
		}

		.counter {
			border-right: 1px solid hsl(240, 20, 92);
			cursor: default;
			padding: 12px 24px 13px;

			@include dark {
				border-right: 1px solid rgb(52, 52, 54);
			}

			.counter-value {
				color: #258cdb;
				font-size: 170%;
				margin-bottom: 3px;
				white-space: nowrap;

				@include dark { color: #f27e02; }
			}

			.counter-title {
				color: #777;
				font-size: 95%;
				text-transform: uppercase;
				white-space: nowrap;

				&.has-mark:before {
					border-radius: 50%;
					content: '';
					display: inline-block;
					height: 9px;
					margin-right: 4px;
					vertical-align: -1px;
					width: 9px;
				}
			}
		}
	}

	// Request tab

	.request-tab-info {
		display: flex;
		margin: 4px 0 8px;

		.field {
			display: flex;
			flex-direction: column;
			margin: 0 5px;
			padding: 0 20px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			.field-value {
				display: flex;
				flex: 1;
				flex-direction: column;
				font-size: 130%;
				justify-content: center;

				.small {
					color: #888;
					font-size: 75%;
					padding-top: 2px;
				}
			}

			.field-title {
				font-size: 120%;
				font-variant: small-caps;
				padding-bottom: 5px;
				text-transform: lowercase;
			}

			&.action {
				flex: 1;
			}

			&.link {
				font-size: 90%;
				padding: 0;
			}
		}
	}

	// Events tab

	.fired-event {
		display: flex;
		flex-wrap: wrap;

		.fired-event-content {
			flex: 1 0 auto;
			max-width: 100%;
		}

		.fired-event-path {
			color: #aaa;
			flex: 0;
			font-size: 90%;
			margin-top: 3px;

			@include dark {
				color: #777;
			}
		}
	}

	.fired-event-details {
		h4 {
			margin: 6px 0 3px;
		}
	}

	.fired-event-actions {
		padding-left: 5px;
		width: 10px;
	}

	// Database tab

	.database-query {
		display: flex;
		flex-wrap: wrap;

		.database-query-content {
			flex: 1 0 auto;
			max-width: 100%;
		}

		.database-query-path {
			color: #aaa;
			flex: 0;
			font-size: 90%;
			margin-top: 3px;

			@include dark {
				color: #777;
			}
		}
	}

	.database-duration {
		text-align: right;
		white-space: nowrap;
	}

	// Cache tab

	.cache-query-type {
		font-size: 125%;
		font-variant: small-caps;
	}
}

.details-loading-overlay, .details-error-overlay, .details-authentication-overlay {
	align-items: center;
	background: #fff;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	height: calc(100% - 31px);
	justify-content: center;
	left: 0;
	position: absolute;
	top: 31px;
	width: 100%;
	z-index: 999;

	@include dark {
		background: rgb(31, 31, 31);
	}

	.ui-icon {
		color: #696969;
		font-size: 46px;
	}

	.title {
		margin: 10px 0 0 0;
	}

	.message {
		color: #aaa;
		font-size: 75%;
		margin: 5px 0 0 0;
	}
}

.details-authentication-overlay {
	text-align: center;

	.title, .message {
		font-size: 80%;
	}

	.title.failed {
		display: none;
	}

	p {
		margin: 1.3em 0;
	}

	input {
		background: #eee;
		border: 1px solid #eee;
		border-radius: 4px;
		font-size: 14px;
		height: 30px;
		padding: 0 10px;

		@include dark {
			background: #2e2e2e;
			border: 1px solid #2e2e2e;
			color: #ccc;
		}
	}

	button {
		background: transparent;
		border: none;
		color: #258cdb;
		font-size: 90%;

		@include dark {
			color: #f27e02;
		}
	}

	&.failed {
		.title {
			display: none;

			&.failed {
				display: block;
			}
		}

		.ui-icon {
			animation: shake 0.77s linear;
		}

		@keyframes shake {
			10%, 90% { transform: translate(-2px); }
			20%, 80% { transform: translate(3px); }
			30%, 50%, 70% { transform: translate(-5px); }
			40%, 60% { transform: translate(5px); }
		}
	}
}

.stack-trace {
	cursor: pointer;

	.popover {
		cursor: default;
	}

	a {
		color: #a6a6a6;
		text-decoration: none;

		&:hover {
			color: #969696;
		}

		@include dark {
			color: #595959;

			&:hover {
				color: #696969;
			}
		}
	}

	.stack-frame {
		color: #000;
		padding: 6px 10px;
		text-align: left;
		word-break: break-word;

		@include dark {
			color: rgb(178, 178, 178);
		}

		&:nth-child(even) {
			background: rgb(245, 245, 245);

			@include dark {
				background: rgb(27, 27, 27);
			}
		}


		.stack-frame-call {
			font-size: 12px;
			padding-bottom: 3px;
		}

		.stack-frame-file {
			color: #aaa;
			font-size: 11px;
		}

		&.is-vendor {
			.stack-frame-call {
				font-size: 10px;
			}

			.stack-frame-file {
				font-size: 10px
			}
		}
	}
}

.hidden {
	display: none;
}

// Directives

[stupid-table] th {
	cursor: default;
}

[tab-content] {
	display: none;
}

.application.dark {
	.pretty-jason {
		color: rgb(213, 213, 213);
	}

	.pretty-jason-key {
		color: rgb(227, 110, 236);
	}

	.pretty-jason-value-number {
		color: rgb(153, 127, 255);
	}

	.pretty-jason-value-string {
		color: rgb(227, 62, 58);
	}

	.pretty-jason-value-null,
	.pretty-jason-value-undefined {
		color: rgb(127, 127, 127);
	}

	.pretty-jason-value-boolean,
	.pretty-jason-value-anonymous-function,
	.pretty-jason-value-resource {
		color: rgb(130, 150, 255);
	}

	.pretty-jason-icon-closed {
		border-color: transparent transparent transparent rgb(145, 145, 145);
	}

	.pretty-jason-icon-open {
		border-color: rgb(145, 145, 145) transparent transparent transparent;
	}
}
